@mixin h1 {
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: -1.9px;

  @media screen and (max-width: 599px) {
    @include h2;
  }
}

@mixin h2 {
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}

@mixin text-large {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: normal;

  @media screen and (max-width: 599px) {
    line-height: 18px;
  }
}

@mixin text-medium {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;

  @media screen and (max-width: 599px) {
    line-height: 18px;
  }
}

@mixin text-small {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: normal;
}

@mixin text-large-bold {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: normal;

  @media screen and (max-width: 599px) {
    line-height: 20px;
  }
}

@mixin text-medium-bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: normal;

  @media screen and (max-width: 599px) {
    line-height: 18px;
  }
}

@mixin text-small-bold {
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: normal;
}
