html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, Helvetica, Arial, sans-serif;
  // background-image:
  //   linear-gradient(
  //     to bottom,
  //     #242352,
  //     #242352,
  //     #242352,
  //     #242352,
  //     #3e346d,
  //     #5a4789,
  //     #996cc2,
  //     #9e7cd5,
  //     #a28ce8,
  //     #a59cfb,
  //     #8baaff,
  //     #73b7ff,
  //     #63c2ff,
  //     #63c2ff,
  //     #63c2fe,
  //   );
}

* {
  box-sizing: border-box;
}
